# OS
.DS_Store
Thumbs.db

# IntelliJ / IDEA
.idea/
*.iml
out/

# Node / Frontend (React/Vite/Vue)
node_modules/
dist/
build/
*.log
pnpm-lock.yaml
yarn.lock
package-lock.json

# Java / Spring Boot (Gradle/Maven)
target/
build/
.gradle/
.mvn/
!gradle/wrapper/**

# Env & local configs
.env
.env.*
*.local
